@font-face {
    font-display:block;
    font-family: 'RobotoMedium';
    src: url('fonts/RobotoMedium.woff2') format('woff2'),
         url('fonts/RobotoMedium.woff') format('woff');
}
@font-face {
    font-display:block;
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoRegular.woff2') format('woff2'),
         url('fonts/RobotoRegular.woff') format('woff');
}
@font-face {
    font-display:block;
    font-family: 'RobotoBold';
    src: url('fonts/RobotoBold.woff2') format('woff2'),
         url('fonts/RobotoBold.woff') format('woff');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/RobotoLight.woff2') format('woff2'),
         url('fonts/RobotoLight.woff') format('woff');
}

